@charset "utf-8";

aside#lateral {
	width: 350px;
	background-color: #021521;
	color: #ffffff;
	padding: 30px;
	padding-right: 800px;
	padding-left: 50px; 
	margin-top: 50px;
	box-shadow: 1px 1px 1px rgba (0,0,0,0) 
}

aside#lateral p {
	width: 1000px;
	margin: auto;
	font-size: 20pt;
}
